# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
dist-ssr/
build/

# Env
.env
.env.*
!.env.example

# Vite
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
logs/

# Coverage
coverage/   
